<div class="details-container">
  <div class="details-container-image">
    <img src="{{course.image}}" />
  </div>
  <div class="details-container-info">
    <h2>Title: {{course.title}}</h2>
    <h3>Type: {{course.type}}</h3>
    <h3>Certificate: {{course.certificate}}</h3>
    <h3>Price: €{{course.price}}</h3>
    <h3>By: {{ownerUser.email}}</h3>
    <!--If there are sign up users-->
    {{#if signedUpUsers}}
      <h4>Signed By: {{signedUpUsers}}</h4>
    {{else}}
      <h4>Nobody has signed in for this course yet</h4>
    {{/if}}
  </div>
  <div class="details-container-content">
    <p>{{course.description}}</p>
  </div>
  <div class="btn-container">
    {{#if isOwner}}
      <a href="/catalog/{{course._id}}/edit">Edit</a>
      <a href="/catalog/{{course._id}}/delete">Delete</a>
    {{else}}
      {{#if isSignedUp}}
        <p class="sign-up">You've already signed up for this course!</p>
      {{else}}
        <a href="/catalog/{{course._id}}/signup">Sign up</a>

      {{/if}}
    {{/if}}

  </div>
</div>